# WRITEOVER-07 settings
preset=3
frameratecap=0
fov=100
mousesensitivity=50
gamepadsensitivity=50
aimassist=false
mastervolume=70
narratorvolume=70
sfxvolume=70
difficulty=2
interactionhighlight=true
tacticalfocus=false
subtitles=false
reducecamerashake=false
reduceflicker=false
highcontrast=false
bind.0=0
bind.1=2
bind.2=1
bind.3=3
bind.4=16
bind.5=15
bind.6=17
bind.7=8
bind.8=4
bind.9=5
bind.10=7
bind.11=6
bind.12=46
bind.13=47
bind.14=11
bind.15=37
bind.16=38
bind.17=39
bind.18=19
bind.19=26
bind.20=24
bind.21=37
bind.22=38
bind.23=39
bind.24=40
